body { 
	margin: 0px; 
	padding: 0px; 
	background: #f0f0f0;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;  
}

h2 { 
	margin-top: 10pt;
	font-size: 18pt; 
	color: #4f4f5f;
	font-weight: normal;
}


img { 
	border: 0px solid white; 
}

a { 
	color: #44A; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

a.home { 
	color: #000; 
	text-decoration: none; 
}

a.home:hover { 
	text-decoration: underline; 
}

textarea.qin {
	width: 100%;
	padding: .5em;
	margin-bottom: 1em;
}

fieldset {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 1em;
	border: 3px solid #e6e6e6;
}

label {
	font-weight: bold;
}

table#dslist {
	width: 100%;
}

table#dslist th {
	text-align: left;
	border-bottom: 1px solid #9f9f9f;
	font-size: 80%;
}

table#qrlist {
	width: 100%;
	border-width: 1px;
	border-spacing: 0px;
	border-style: outset;
	border-color: #fff;
	border-collapse: collapse;
	background-color: white;
}

table#qrlist th {
	text-align: left;
	border-bottom: 1px solid #9f9f9f;
	font-size: 70%;
	padding: 2px 10px 2px 2px;
}

table#qrlist td {
	text-align: left;
	font-size: 70%;
	padding: 2px 10px 2px 2px;
}

table#qrlist td.odd {
	text-align: left;
	font-size: 70%;
	background: #f0f0f0;
	padding: 2px 10px 2px 2px;
}

#currentuser {
	margin: .5em 0 0 2em;
	font-size: 10pt;
	color: #9e9e9e;
}

#menu {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0.5em;
	font-size: 10pt;
	color: #404040;
	background: #0f0f0f;
	-moz-border-radius: 0px 0px 0px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
}

#header { 
	margin: 0; 
	padding: 2em 0 0 0;
	text-align: center;
	font-size: 30pt;
	font-weight: bold;
}

#main { 
	background: #fff;
	margin: 1em 2em 1em 2em; 
	padding: .5em 1em .5em 1em; 
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-bottom: 1px solid #e0e0e0;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');	
}

#notequery, #noteupload {
	font-size: 80%;
	font-style: italic;
	color: #606060; 
	margin: 0 0 1em 0;
}

#queryf {
	margin: 1em
}

#querfform {
}

#result {
}

#bottom {
	clear: left;
	width: 100%;
}

#qlcontrol, #impcontrol, #schemehintcontrol{
	cursor: pointer;
	text-align: right;
	color: #44A; 
	margin-top: 2em;
}

#querylist {
}

#schemehint {
	display: none;
	font-size: 80%;
	margin: .5em;
}

#queryfilter{
	background: #fafafa;
	font-size: 80%;
	margin: 2em 0 2em 0;
	padding: 2px 0px 3px 10px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-box-shadow: 0px 0px 1px #333;
	-webkit-box-shadow: 2px 2px 2px #333;
}

#resetfilter {
	cursor: pointer;
}

#importf {
	display: none;
	margin: 1em
}

#datasets {
	margin: .5em 2em 4em 2em; 
}

#dsstats, #querystats {
	font-size: 70%; 
	text-align: right;
	font-family: 'Courier New', monospace;
	color: #6f6f6f;
	margin-bottom: .5em;
}

#footer { 
	border-top: 1px dotted #d0d0d0;
	margin: 3em 0 0 0; 
	padding: 0.1em; 
	font-size: 60%; 
	text-align: center; 
}

.byuser {
	font-size: 80%;
	text-align: right;
}

.sq {
	padding: 1em;
	border: 1px dotted #a0a0a0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: #FFE;
	font-size: 80%;
	font-family: 'Courier New', monospace;
}


.errormsg {
	font-size: 80%;
	color: red;
}

.misel {
	color: #f0f0f0;
}

.cmd {
	margin: 1em 0 0 0;
}

.datasetentry {
	font-size: 80%;
	font-family: 'Courier New', monospace;
}

.execqsaved, .deleteqsaved {
	cursor: pointer;
}

.savedquery {
	border-left: 5px solid #f0f0f0;
	margin-bottom: 1em;
	padding: 0 0 0 1em;
}

.hinfo {
	cursor: pointer;
}